In [1]:
import pandas as pd
#1. Write a Pandas program to create and display a one-dimensional 
#array-like object containing an array of data using Pandas module.
data = pd.Series([10, 20, 30, 40, 50])
print(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.
data = pd.Series([10, 20, 30, 40, 50])
data_list = data.tolist()
print("Converted list:", data_list)
print("Type of converted list:", type(data_list))

Converted list: [10, 20, 30, 40, 50]
Type of converted list: <class 'list'>

In [3]:
#3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])
addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2
print("Addition:")
print(addition)
print("\nSubtraction:")
print(subtraction)
print("\nMultiplication:")
print(multiplication)
print("\nDivision:")
print(division)

Addition:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication:
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [4]:
#4. Write a Pandas program to compare the elements of the two Pandas Series.
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
comparison = series1 == series2
print("Comparison Result:")
print(comparison)

Comparison Result:
0    False
1    False
2    False
3    False
4     True
dtype: bool

In [5]:
#5. Write a Pandas program to convert a dictionary to a Pandas series. 
original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
converted_series = pd.Series(original_dict)
print("Converted series:")
print(converted_series)

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [6]:
#6. Write a Pandas program to convert a NumPy array to a Pandas series. 
import numpy as np
numpy_array = np.array([10, 20, 30, 40, 50])
converted_series = pd.Series(numpy_array)
print("Converted Pandas series:")
print(converted_series)

Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [7]:
#7. Write a Pandas program to change the data type of given a column or a Series. 
original_series = pd.Series([100, 200, 'python', 300.12, 400])
converted_series = pd.to_numeric(original_series, errors='coerce')
print("Original Data Series:")
print(original_series)
print("\nChange the said data type to numeric:")
print(converted_series)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [8]:
#8. Write a Pandas program to convert the first column of a DataFrame as a Series.
data = {
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
}

df = pd.DataFrame(data)
first_column_series = df['col1']
print("1st column as a Series:")
print(first_column_series)
print("\n<class 'pandas.core.series.Series'>")

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

<class 'pandas.core.series.Series'>

In [9]:
#9. Write a Pandas program to convert a given Series to an array. 
original_series = pd.Series([100, 200, 'python', 300.12, 400])
array_from_series = original_series.to_numpy()
print("Original Data Series:")
print(original_series)
print("\nSeries to an array:")
print(array_from_series)
print("\n<class 'numpy.ndarray'>")

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Series to an array:
[100 200 'python' 300.12 400]

<class 'numpy.ndarray'>

In [6]:
#1.Write a Pandas program to create a dataframe from a dictionary and display it.
data = {'X': [78, 85, 96, 80, 86], 'Y': [84, 94, 89, 83, 86], 'Z': [86, 97, 96, 72, 83]}
df = pd.DataFrame(data)
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [7]:
#2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
print(df)

NameError: name 'np' is not defined

In [8]:
#3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
print("Summary of the basic information about this DataFrame and its data:\n")
print(df.info())

NameError: name 'np' is not defined

In [9]:
#2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
import numpy as np

# Sample dictionary data and list labels
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame with index labels
df = pd.DataFrame(exam_data, index=labels)

# Display the DataFrame
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [10]:
#3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
print("Summary of the basic information about this DataFrame and its data:\n")
print(df.info())

Summary of the basic information about this DataFrame and its data:

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [11]:
#4. Write a Pandas program to get the first 3 rows of a given DataFrame.
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
first_three_rows = df.head(3)
print("First three rows of the data frame:\n")
print(first_three_rows)

First three rows of the data frame:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [12]:
#5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
selected_columns = df[['name', 'score']]
print("Select specific columns:\n")
print(selected_columns)

Select specific columns:

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [13]:
#6. Write a Pandas program to select the specified columns and rows from a given data frame.
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
selected_data = df.loc[['b', 'd', 'f', 'g'], ['score', 'qualify']]
print("Select specific columns and rows:\n")
print(selected_data)

Select specific columns and rows:

   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

In [14]:
#7. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
selected_data = df[df['attempts'] > 2]
print("Number of attempts in the examination is greater than 2:\n")
print(selected_data)

Number of attempts in the examination is greater than 2:

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [15]:
#8. Write a Pandas program to count the number of rows and columns of a DataFrame.
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
num_rows, num_cols = df.shape
print("Number of Rows:", num_rows)
print("Number of Columns:", num_cols)

Number of Rows: 10
Number of Columns: 4

In [16]:
#9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
missing_score_rows = df[df['score'].isna()]
print("Rows where score is missing:\n")
print(missing_score_rows)

Rows where score is missing:

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [17]:
#10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
selected_rows = df[(df['score'] >= 15) & (df['score'] <= 20)]
print("Rows where the score is between 15 and 20 (inclusive):\n")
print(selected_rows)

Rows where the score is between 15 and 20 (inclusive):

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes