In [1]:
#1. Write a Pandas program to join the two given dataframes along rows and assign all data.
import pandas as pd
data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}
data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

student_data1 = pd.DataFrame(data1)
student_data2 = pd.DataFrame(data2)
merged_data = pd.concat([student_data1, student_data2], ignore_index=True)
print(merged_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

In [2]:
#2. Write a Pandas program to join the two given dataframes along columns and assign all data.
data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

student_data1 = pd.DataFrame(data1)
student_data2 = pd.DataFrame(data2)
merged_data = pd.merge(student_data1, student_data2, on='student_id', suffixes=('_1', '_2'))
print(merged_data)

  student_id       name_1  marks_1            name_2  marks_2
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [4]:
#3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.
data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

student_data1 = pd.DataFrame(data1)
new_row = pd.DataFrame({'student_id': ['S6'], 'name': ['Scarlette Fisher'], 'marks': [205]})
combined_data = pd.concat([student_data1, new_row], ignore_index=True)

print(combined_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [6]:
#4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data.
data = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

student_data = pd.DataFrame(data)

# Dictionary
new_data = {
    'student_id': 'S6',
    'name': 'Scarlette Fisher',
    'marks': 205
}
new_row = pd.DataFrame([new_data])
student_data = pd.concat([student_data, new_row], ignore_index=True)

print(student_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [7]:
#5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

exam_data = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
}

student_data1 = pd.DataFrame(data1)
student_data2 = pd.DataFrame(data2)
exam_data = pd.DataFrame(exam_data)
merged_students = pd.concat([student_data1, student_data2], ignore_index=True)
final_result = pd.merge(merged_students, exam_data, on='student_id')

print(final_result)

  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [8]:
#6. Write a Pandas program to join the two dataframes using the common column of both dataframes.
data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

student_data1 = pd.DataFrame(data1)
student_data2 = pd.DataFrame(data2)
merged_data = pd.merge(student_data1, student_data2, on='student_id', suffixes=('_1', '_2'))
print(merged_data)

  student_id       name_1  marks_1            name_2  marks_2
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [9]:
#7. Write a Pandas program to join the two dataframes with matching records from both sides where available.
ata1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}

data2 = {
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
}

student_data1 = pd.DataFrame(data1)
student_data2 = pd.DataFrame(data2)
merged_data = pd.merge(student_data1, student_data2, on='student_id', suffixes=('_1', '_2'), how='inner')
print(merged_data)

  student_id       name_1  marks_1            name_2  marks_2
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [10]:
#8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

data1_df = pd.DataFrame(data1)
data2_df = pd.DataFrame(data2)
merged_data = pd.merge(data1_df, data2_df, on=['key1', 'key2'], how='left')
print(merged_data)

  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

In [11]:
#9. Write a Pandas program to join two dataframes using keys from right dataframe only.
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

data1_df = pd.DataFrame(data1)
data2_df = pd.DataFrame(data2)
merged_data = pd.merge(data1_df, data2_df, on=['key1', 'key2'], how='right')
print(merged_data)

  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

In [12]:
#10. Write a Pandas program to merge two given datasets using multiple join keys.
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

data1_df = pd.DataFrame(data1)
data2_df = pd.DataFrame(data2)
merged_data = pd.merge(data1_df, data2_df, on=['key1', 'key2'])
print(merged_data)

  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [13]:
#11. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series(['A', 'B', 'C', 'D', 'E'])
new_df = pd.DataFrame({'New_Column_Name_1': series1, 'New_Column_Name_2': series2})
print(new_df)

   New_Column_Name_1 New_Column_Name_2
0                  1                 A
1                  2                 B
2                  3                 C
3                  4                 D
4                  5                 E

In [14]:
#12. Write a Pandas program to create a combination from two dataframes where a column id combination appears more than once in both dataframes.
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

data1_df = pd.DataFrame(data1)
data2_df = pd.DataFrame(data2)
merged_data = pd.merge(data1_df, data2_df, on=['key1', 'key2'])
duplicate_combinations = merged_data[merged_data.duplicated(subset=['key1', 'key2'], keep=False)]
print(duplicate_combinations)

  key1 key2   P   Q   R   S
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [15]:
#13. Write a Pandas program to combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.
data1 = {
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}

data2 = {
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}

data1_df = pd.DataFrame(data1, index=['K0', 'K1', 'K2'])
data2_df = pd.DataFrame(data2, index=['K0', 'K2', 'K3'])
result_df = pd.concat([data1_df, data2_df], axis=1)
print(result_df)

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [16]:
#14. Write a Pandas program to merge two given dataframes with different columns.
data1 = {
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
}

data2 = {
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
}

data1_df = pd.DataFrame(data1)
data2_df = pd.DataFrame(data2)
merged_data = pd.merge(data1_df, data2_df, on=['key1', 'key2'])
print(merged_data)

  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [17]:
#15. Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
import numpy as np
data1 = {
    'A': [np.nan, 0.0, np.nan],
    'B': [3, 4, 5]
}

data2 = {
    'A': [1, 1, 3],
    'B': [3.0, np.nan, 3.0]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
combined_df = df1.combine_first(df2)
print(combined_df)

     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0