In [4]:
#1. Write a Pandas program to print a concise summary of the dataset (titanic.csv).
import pandas as pd

df = pd.read_csv('C:\\Users\\danie\\OneDrive\\Documents\\GitHub\\CSC245---Lab3\\titanic.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB
None

In [5]:
#2. Write a Pandas program to extract the column labels, shape and data types of the dataset (titanic.csv).
column_labels = df.columns.tolist()
data_shape = df.shape
data_types = df.dtypes
print("Column Labels:", column_labels)
print("Shape:", data_shape)
print("\nData Types:")
print(data_types)

Column Labels: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone', 'Unnamed: 15']
Shape: (891, 16)

Data Types:
survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object

In [6]:
#3. Write a Pandas program to create a Pivot table with multiple indexes from the data set of titanic.csv.
pivot_table = pd.pivot_table(df, index=['sex', 'pclass'], values='survived', aggfunc='mean')
print(pivot_table)

               survived
sex    pclass
female 1       0.968085
       2       0.921053
       3       0.500000
male   1       0.368852
       2       0.157407
       3       0.135447

In [7]:
#4. Write a Pandas program to create a Pivot table and find survival rate by gender on various classes.
pivot_table = pd.pivot_table(df, index='sex', columns='pclass', values='survived', aggfunc='mean')
print("Survival Rate by Gender on Various Classes:")
print(pivot_table)

Survival Rate by Gender on Various Classes:
pclass         1         2         3
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [8]:
#5. Write a Pandas program to create a Pivot table and find survival rate by gender.
pivot_table = pd.pivot_table(df, index='sex', values='survived', aggfunc='mean')

print("Survival Rate by Gender:")
print(pivot_table)

Survival Rate by Gender:
        survived
sex
female  0.742038
male    0.188908

In [9]:
#6. Write a Pandas program to create a Pivot table and find survival rate by gender, age wise of various classes.
age_bins = [0, 18, 30, 50, 100]
age_labels = ['0-17', '18-29', '30-49', '50+']
df['age_group'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)
pivot_table = pd.pivot_table(df, index=['sex', 'age_group'], columns='pclass', values='survived', aggfunc='mean')
print("Survival Rate by Gender, Age-wise of Various Classes:")
print(pivot_table)

Survival Rate by Gender, Age-wise of Various Classes:
pclass                   1         2         3
sex    age_group
female 0-17       0.875000  1.000000  0.542857
       18-29      0.954545  0.896552  0.487805
       30-49      1.000000  0.925926  0.280000
       50+        0.933333  0.833333  1.000000
male   0-17       1.000000  0.818182  0.232558
       18-29      0.428571  0.027778  0.147541
       30-49      0.446809  0.102564  0.128205
       50+        0.206897  0.076923  0.000000

In [10]:
#7. Write a Pandas program to partition each of the passengers into four categories based on their age.
age_bins = [0, 18, 35, 50, 100]
age_labels = ['Child', 'Young Adult', 'Adult', 'Elderly']
df['age_category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)
print(df[['age', 'age_category']].head())

    age age_category
0  22.0  Young Adult
1  38.0        Adult
2  26.0  Young Adult
3  35.0        Adult
4  35.0        Adult

In [11]:
#8. Write a Pandas program to create a Pivot table and count survival by gender, categories wise age of various classes.
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-9', '10-29', '30-59', '60-79']

# Create a new column 'age_category' based on age bins
df['age_category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

# Create a Pivot table to count survival by gender, categories-wise age, and various classes
pivot_table = pd.pivot_table(df, index=['sex', 'pclass'], columns='age_category', values='survived', aggfunc='sum')

print("Survival Count by Gender, Categories-wise Age, and Various Classes:")
print(pivot_table)

Survival Count by Gender, Categories-wise Age, and Various Classes:
age_category   0-9  10-29  30-59  60-79
sex    pclass
female 1         0     28     51      3
       2         8     30     30      0
       3        11     28      7      1
male   1         2     11     25      1
       2         9      1      4      1
       3         8     20     10      0

In [12]:
#9. Write a Pandas program to create a Pivot table and find survival rate by gender, age of the different categories of various classes.
age_bins = [0, 10, 30, 60, 100]
age_labels = ['0-9', '10-29', '30-59', '60+']
df['age_category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)
pivot_table = pd.pivot_table(df, index=['sex', 'age_category'], columns='pclass', values='survived', aggfunc='mean')
print("Survival Rate by Gender, Age of Different Categories of Various Classes:")
print(pivot_table)

Survival Rate by Gender, Age of Different Categories of Various Classes:
pclass                      1         2         3
sex    age_category
female 0-9           0.000000  1.000000  0.523810
       10-29         0.965517  0.909091  0.509091
       30-59         0.980769  0.909091  0.280000
       60+           1.000000       NaN  1.000000
male   0-9           1.000000  1.000000  0.380952
       10-29         0.478261  0.026316  0.138889
       30-59         0.403226  0.083333  0.119048
       60+           0.142857  0.250000  0.000000

In [13]:
#10. Write a Pandas program to create a Pivot table and find survival rate by gender, age of the different categories of various classes. Add the fare as a dimension of columns and partition fare column into 2 categories based on the values present in fare columns
age_bins = [0, 10, 30, 60, 100]
age_labels = ['0-9', '10-29', '30-59', '60+']
df['age_category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)
fare_median = df['fare'].median()
df['fare_category'] = pd.cut(df['fare'], bins=[0, fare_median, df['fare'].max()], labels=['Low Fare', 'High Fare'], right=False)
pivot_table = pd.pivot_table(df, index=['sex', 'age_category'], columns=['pclass', 'fare_category'], values='survived', aggfunc='mean')
print("Survival Rate by Gender, Age of Different Categories of Various Classes with Fare Dimension:")
print(pivot_table)

Survival Rate by Gender, Age of Different Categories of Various Classes with Fare Dimension:
pclass                     1                   2                   3
fare_category       Low Fare High Fare  Low Fare High Fare  Low Fare High Fare
sex    age_category
female 0-9               NaN  0.000000       NaN  1.000000  0.800000  0.437500
       10-29             NaN  0.965517  0.923077  0.900000  0.589744  0.312500
       30-59             NaN  0.980392  0.866667  0.944444  0.250000  0.294118
       60+               NaN  1.000000       NaN       NaN  1.000000       NaN
male   0-9               NaN  1.000000       NaN  1.000000  1.000000  0.277778
       10-29             NaN  0.478261  0.040000  0.000000  0.142857  0.120000
       30-59             0.0  0.410714  0.111111  0.047619  0.112676  0.153846
       60+               NaN  0.142857  0.333333  0.000000  0.000000       NaN